{% extends 'base.html' %}
{% load static %}
{% block styles %}
{% endblock %}
{% block nav %}
    <nav>
        <div class="nav-wrapper container">
            <a href="{% url 'application:profile' %}" class="brand-logo">Africa
                Literary Project</a>
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i
                    class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                        <li><a href="{% url 'application:users' %}">Members</a>
                        </li>
                    {% endif %}
                    {% if user.member.is_experienced_writer is None %}
                        <li><a href="{% url 'application:apply' %}">Apply</a>
                        </li>
                    {% endif %}
                    <li><a href="{% url 'application:profile' %}">My
                        Profile</a></li>
                    <li><a href="{% url 'application:logout' %}">Logout</a>
                    </li>
                {% else %}
                    <li><a href="{% url 'application:login' %}">Login</a></li>
                    <li><a href="{% url 'application:register' %}">Register
                        and Apply
                    </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
    <ul class="sidenav" id="mobile-demo">
        {% if user.is_authenticated %}
            {% if user.is_superuser %}
                <li><a href="{% url 'application:users' %}">Members</a></li>
            {% endif %}
            {% if user.member.is_experienced_writer is None %}
                <li><a href="{% url 'application:apply' %}">Apply</a></li>
            {% endif %}
            <li><a href="{% url 'application:profile' %}">My Profile</a></li>
            <li><a href="{% url 'application:logout' %}">Logout</a></li>
        {% else %}
            <li><a href="{% url 'application:login' %}">Login</a></li>
            <li><a href="{% url 'application:register' %}">Register and
                Apply </a></li>
        {% endif %}
    </ul>
{% endblock %}
{% block footer %}
    <footer class="page-footer" style="padding-top: 0">
        <div class="footer-copyright" style="margin-top: 0">
            <div class="container">
                <p class="grey-text text-lighten-4 left">© 2020 Africa
                    Literary Project</p>
                <p class="grey-text text-lighten-4 right">Created by the
                Technical Team</p>
            </div>
        </div>
    </footer>
    <script>
        $(document).ready(function () {
            $('.sidenav').sidenav();
        });
    </script>
{% endblock %}