{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet"
          href="{% static 'materialize/css/materialize.css' %}"
          media="screen,
      projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %} | Africa Literary Project Portal
    </title>
    {% block styles %}
    {% endblock %}
    <!--Import JQuery-->
    <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
</head>
<body>
{% block nav %}
{% endblock %}
<main>
    {% block content %}
    {% endblock %}
</main>
{% block footer %}
{% endblock %}

<script type="text/javascript"
        src="{% static 'materialize/js/materialize.min.js' %}"></script>

{% block scripts %}
{% endblock %}
</body>
</html>