{% extends 'base_nav.html' %}
{% load humanize %}
{% block title %}
    {{ user_profile.get_full_name }}
{% endblock %}
{% block styles %}
    <style>
        li.form-response {
            list-style-type: square !important;
            margin-left: 2vw;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container section">
        <div class="row">
            <div class="col s10 offset-s1">
                <div class="card horizontal pink darken-2 white-text">
                    <div class="card-image">
                        <img src="{{ user_profile.member.image.url }}"
                             alt="Profile Image">
                    </div>
                    <div class="card-content">
                        <h4>{{ user_profile.get_full_name }}</h4>
                        <h6>
                            <span>
                                <i class="material-icons">person</i>
                            </span>{{ user_profile.username }}
                        </h6>
                        <h6>
                            <span>
                                <i class="material-icons">email</i>
                            </span>{{ user_profile.email }}
                        </h6>
                        <h6>
                            <span>
                                <i class="material-icons">phone</i>
                            </span>{{ user_profile.member.telephone }}
                        </h6>
                        <h6>
                            <span>
                                <i class="material-icons">today</i>
                            </span>{{ user_profile.member.DOB|naturalday }}
                        </h6>
                        <h6>
                            <span>
                                <i class="material-icons">palette</i>
                            </span>{{ user_profile.member.fav_color }}
                        </h6>
                        <h6>
                            <span>
                                <i class="material-icons">wc</i>
                            </span>{{ user_profile.member.get_gender_display }}
                        </h6>
                        <div class="section">
                            <button class="btn waves-effect pink-text
                            text-darken-2 white"
                                    role="link" name="action"
                                    href="{% url 'application:edit_profile' %}">
                                Edit Profile
                                <i class="material-icons right">create</i>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h3>Application Form Response</h3>
                        {% if user_profile.member.is_experienced_writer is None %}
                            <p class="grey-text">Application yet to be
                                submitted.</p>
                            </div>
                        {% else %}
                            <div>
                                <h5>What do you think we can do to make
                                    this
                                    project successful?</h5>
                                <p>{{ user_profile.member.idea_project_successful }}</p>
                            </div>
                            <div>
                                <h5>What should be done to promote the
                                    reading
                                    culture in Nigeria/Africa?</h5>
                                <p>{{ user_profile.member.idea_promote_reading }}</p>
                            </div>
                            <div>
                                <h5>Which of the core objectives do you
                                    feel
                                    you
                                    can help with?</h5>
                                <ul>
                                    {% for objective in user_profile.member.objectives.all %}
                                        <li class="form-response">{{ objective }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div>
                                <h5>How do you feel you can help this
                                    movement
                                    achieve it’s objectives?</h5>
                                <p>{{ user_profile.member.idea_achieve_objectives }}</p>
                            </div>
                            <div>
                                <h5>Which Team(s) would you work best
                                    with?</h5>
                                <ul>
                                    {% for team in user_profile.member.teams.all %}
                                        <li class="form-response">{{ team }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div>
                                <h5>Do you have prior knowledge and
                                    experience
                                    in writing or editing?</h5>
                                <p>{{ user_profile.member.get_is_experienced_writer_display }}</p>
                            </div>
                            <div>
                                <h5>How best do you think we can get
                                    funding to
                                    make this a reality?</h5>
                                <p>{{ user_profile.member.idea_funding }}</p>
                            </div>
                            <div>
                                <h5>Can you donate at least 10 old books
                                    for
                                    the
                                    book drive?</h5>
                                <p>{{ user_profile.member.get_can_donate_for_bookdrive_display }}</p>
                            </div>
                            <div>
                                <h5>What do you think about creating a
                                    writing
                                    space (eg Medium) for young writers
                                    (7-18
                                    years)?</h5>
                                <p>{{ user_profile.member.get_thoughts_on_writing_space_display }}</p>
                            </div>
                            {% if user_profile.member.is_approved is None %}
                                {% if user.is_superuser %}
                                    </div>
                                    <div class="card-action">
                                        <a href="{% url 'application:approve' user_profile.id %}">Approve</a>
                                        <a href="{% url 'application:disapprove' user_profile.id %}">Disapprove</a>
                                    </div>
                                {% else %}
                                    <div class="pink darken-2">
                                        <h6 class="white-text center-align"
                                            style="padding: 1vw;margin: 2vw">
                                            AWAITING APPROVAL</h6>
                                    </div>
                                    </div>
                                {% endif %}
                            {% elif user_profile.member.is_approved == False %}
                                <div class="pink darken-2">
                                    <h6 class="white-text center-align"
                                        style="padding: 1vw;margin: 2vw">
                                        DISAPPROVED</h6>
                                </div>
                                </div>
                            {% elif user_profile.member.is_approved == True %}
                                <div class="pink darken-2">
                                    <h6 class="white-text center-align"
                                        style="padding: 1vw;margin: 2vw">
                                        APPROVED</h6>
                                </div>
                                </div>
                            {% endif %}
                        {% endif %}
    </div>
    </div>
    </div>
    </div>
{% endblock %}