{% extends 'base_nav.html' %}
{% load humanize %}
{% block title %}
    {{ user_profile.get_full_name }}
{% endblock %}
{% block styles %}
    <style>
        li.form-response {
            list-style-type: square !important;
            margin-left: 2vw;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="container section">
        <div class="row">
            <div class="col s10 offset-s1">
                <div class="card horizontal white-text"
                     style="background-color: #F1C470">
                    <div class="card-image">
                        <img src="{{ user_profile.member.image.url }}"
                             alt="Profile Image">
                    </div>
                    <div class="card-content">
                        <h4>{{ user_profile.get_full_name }}</h4>
                        <h6>
                            <span>
                                <i class="material-icons">person</i>
                            </span>{{ user_profile.username }}
                        </h6>
                        <h6>
                            <span>
                                <i class="material-icons">email</i>
                            </span>{{ user_profile.email }}
                        </h6>
                        <h6>
                            <span>
                                <i class="material-icons">phone</i>
                            </span>{{ user_profile.member.telephone }}
                        </h6>
                        <h6>
                            <span>
                                <i class="material-icons">today</i>
                            </span>{{ user_profile.member.DOB|naturalday }}
                        </h6>
                        <h6>
                            <span>
                                <i class="material-icons">palette</i>
                            </span>{{ user_profile.member.fav_color }}
                        </h6>
                        <h6>
                            <span>
                                <i class="material-icons">wc</i>
                            </span>{{ user_profile.member.get_gender_display }}
                        </h6>
                        {% if user_profile == user %}
                            <div class="section">
                                <a class="btn waves-effect  white"
                                   role="button" style="color: #F1C470"
                                   href="{% url 'application:edit_profile' %}">
                                    Edit Profile
                                    <i class="material-icons right">create</i>
                                </a>
                                <a class="waves-effect btn btn-flat white-text modal-trigger"
                                   role="button" href="#upload">Change
                                    Picture<i class="material-icons right">insert_photo</i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div id="upload" class="modal">
                    <div class="modal-content">
                        <h4 style="color: #F1C470">Change Profile
                            Image</h4>
                        <form action="{% url 'application:upload_image' %}"
                              method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col s12">
                                    <label>Profile Image</label>
                                    <div class="file-field input-field">
                                        <div class="btn">
                                            <span>Browse</span>
                                            <input type="file" name="image"
                                                   required>
                                        </div>
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate"
                                                   type="text" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="center-align">
                                <button type="submit"
                                        class="modal-close btn waves-effect waves-light">
                                    Submit<i
                                        class="material-icons right">send</i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <h3>Application Form Response</h3>
                        {% if user_profile.member.is_experienced_writer is None %}
                            <p class="grey-text">Application yet to be
                                submitted.</p>
                            </div>
                        {% else %}
                            <div>
                                <h5>What do you think we can do to make
                                    this
                                    project successful?</h5>
                                <p>{{ user_profile.member.idea_project_successful }}</p>
                            </div>
                            <div>
                                <h5>What should be done to promote the
                                    reading
                                    culture in Nigeria/Africa?</h5>
                                <p>{{ user_profile.member.idea_promote_reading }}</p>
                            </div>
                            <div>
                                <h5>Which of the core objectives do you
                                    feel
                                    you
                                    can help with?</h5>
                                <ul>
                                    {% for objective in user_profile.member.objectives.all %}
                                        <li class="form-response">{{ objective }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div>
                                <h5>How do you feel you can help this
                                    movement
                                    achieve it’s objectives?</h5>
                                <p>{{ user_profile.member.idea_achieve_objectives }}</p>
                            </div>
                            <div>
                                <h5>Which Team(s) would you work best
                                    with?</h5>
                                <ul>
                                    {% for team in user_profile.member.teams.all %}
                                        <li class="form-response">{{ team }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <div>
                                <h5>Do you have prior knowledge and
                                    experience
                                    in writing or editing?</h5>
                                <p>{{ user_profile.member.get_is_experienced_writer_display }}</p>
                            </div>
                            <div>
                                <h5>How best do you think we can get
                                    funding to
                                    make this a reality?</h5>
                                <p>{{ user_profile.member.idea_funding }}</p>
                            </div>
                            <div>
                                <h5>Can you donate at least 10 old books
                                    for
                                    the
                                    book drive?</h5>
                                <p>{{ user_profile.member.get_can_donate_for_bookdrive_display }}</p>
                            </div>
                            <div>
                                <h5>What do you think about creating a
                                    writing
                                    space (eg Medium) for young writers
                                    (7-18
                                    years)?</h5>
                                <p>{{ user_profile.member.get_thoughts_on_writing_space_display }}</p>
                            </div>
                            {% if user_profile.member.is_approved is None %}
                                {% if user.is_superuser %}
                                    </div>
                                    <div class="card-action">
                                        <a href="{% url 'application:approve' user_profile.id %}">Approve</a>
                                        <a href="{% url 'application:disapprove' user_profile.id %}">Disapprove</a>
                                    </div>
                                {% else %}
                                    <div style="background-color: #F1C470">
                                        <h6 class="white-text center-align"
                                            style="padding: 1vw;margin: 2vw">
                                            AWAITING APPROVAL</h6>
                                    </div>
                                    </div>
                                {% endif %}
                            {% elif user_profile.member.is_approved == False %}
                                <div style="background-color: #F1C470">
                                    <h6 class="white-text center-align"
                                        style="padding: 1vw;margin: 2vw">
                                        DISAPPROVED</h6>
                                </div>
                                </div>
                            {% elif user_profile.member.is_approved == True %}
                                <div style="background-color: #F1C470">
                                    <h6 class="white-text center-align"
                                        style="padding: 1vw;margin: 2vw">
                                        APPROVED</h6>
                                </div>
                                </div>
                            {% endif %}
                        {% endif %}
    </div>
    </div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.modal');
            var instances = M.Modal.init(elems);
        });
    </script>
{% endblock %}